-- @author      : {{NAME}} ({{EMAIL}})
-- @file        : {{FILE}}
-- @created     : {{TIMESTAMP}}

local M = {}


function M.thing()
  print "in {{FILE}}" -- to show the template works works
end


return M
